/* common */
* {
  margin: 0;
  font-weight: normal;
  vertical-align: bottom;
  box-sizing: border-box;
}

  .photo {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .3s, transform .3s;
  }

  .photo.appear {
    opacity: 1;
    transform: translateY(0);
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
  }

  ul li + li {
    margin-left: 8px;
  }

  p {
    font-size: 12px;
    letter-spacing: .1em;
  }

  a {
    text-decoration: none;
  }


/* header */

header .nav_wrap {
  display: flex;
  background: #fff;
  height: 70px;
  line-height: 70px;
}

header .icon {
  font-size: 24px;
  margin-left: 50px;
}

header .menu {
  margin-left: auto;
  margin-right: 50px;
  font-size: 12px;
  cursor: pointer;
}

header .menu li:hover {
  opacity: .5;
}

header .menu li + li {
  padding-left: 5px;
}

header .carousel {
  height: 300px;
  outline: 1px solid red;
}


/* main */

main {
  max-width: 600px;
  margin: 0 auto;

}

.profile_wrap {
  background: #efefef;
  margin-top: 40px;
  padding: 40px 0;
}

.profile_wrap .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.profile h1 {
  font-size: 24px;
}

.profile h2 {
  font-size: 12px;
}

.profile_wrap .container div + div {
  margin-left: 32px;
}

.profile_wrap .photo {
  border-radius: 50%;
  margin-left: 10px;
}

.profile_wrap .photo:hover {
  opacity: .5;
}

.profile {
  width: 200px;
}

.profile a {
  display: block;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  border: none;
  background: #d6d5d5;
  color: black;
  font-size: 15px;
  border-radius: 3px;
}

.profile a:hover {
  opacity: .5;
}

main .container {
  width: 600px;
  margin: 0 auto;
}

main h1 {
  font-size: 24px;
}

main .title {
  padding: 40px;
  text-align: center;
}

main section + section {
  margin-top: 48px;
}

main h2 {
  font-size: 18px;
  margin-top: 16px;
}

main p {
  line-height: 1.8;
}

main .work1_photo {
  width: 100%;
  height: 300px;
  background-image: url(../img/work1.png);
  background-size: cover;
}

main .work2_photo {
  width: 100%;
  height: 300px;
  background-image: url(../img/work2.png);
  background-size: cover;
}

main .work3_photo {
  width: 100%;
  height: 300px;
  background-image: url(../img/work3.png);
  background-size: cover;
}

/* footer */
footer {
  padding: 60px 0;
  text-align: center;
  color: #aaa;
}